body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #333333;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content:  center;
  align-items:  center;
  height: 140vh;
  flex-direction: column;
  margin-top: 40px;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px; 
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #555555;
}

button {
  background-color: #333333;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555555;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 10px; /* Adjusted margin */
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
}

th {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  padding: 8px;
  margin: 0 3px;
  text-decoration: none;
  color: #555555;
  border: 1px solid #ddd;
  border-radius: 0;
}

.pagination a:hover {
  background-color: #f2f2f2;
}

.welcome-message {
  margin-top: 20px;
  color: #333333;
  font-size: 18px;
}

.error-message {
  color: #ff4d4d;
  margin-top: 10px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #f2f2f2;
  border-radius: 0;
  transition: background-color 0.3s;
  
}

a:hover {
  background-color: #ddd;
}
